#JWT Configuration
JWT_SECRET=
JWT_EXPIRATION=86400000
# PostgreSQL Database Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=
# JPA/Hibernate Configuration
# Options: create, create-drop, update, validate, none
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect
#Server Configuration
SERVER_PORT=8080
SERVER_SERVLET_CONTEXT_PATH=/api
#Application Configuration
SPRING_APPLICATION_NAME=DishHub
# Options: dev, prod, test
SPRING_PROFILES_ACTIVE=dev


# FRONTEND - API Configuration
# Backend API Base URL
VITE_API_BASE_URL=http://localhost:8080/api
# API Request Timeout (milliseconds)
VITE_API_TIMEOUT=30000

#  Application Environment
# Options: development, production, test
VITE_APP_ENV=development
# Enable debug mode (true for development, false for production)
VITE_APP_DEBUG=true

