@import "tailwindcss";

:root {
  --primary: #f27f0d;
  --background-light: #f8f7f5;
  --background-dark: #221910;
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

html {
  background-color: var(--background-light);
}

html.dark {
  background-color: var(--background-dark);
}

body {
  margin: 0;
  padding: 0;
}

body.dark {
  background-color: var(--background-dark);
}
